<div class="card" style="width: 18rem;">
    <div *ngFor="let person of people; index as i" class="card-body">
        <h5 class="card-title">{{ person.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> Episodio: {{ person.birth_year}}</h6>
        <p class="card-text">Especie: {{person.species}} ;Veiculos: {{person.vehicles}};Naves: {{person.starships}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
<div>